azure-cognitiveservices-vision-computervision==0.6.0
azure-common==1.1.25
black==24.3.0
dash==2.15.0
ffmpeg==1.4
ffmpeg-python==0.2.0
flake8==4.0.1
Pillow==10.3.0
plotly==4.6.0
tinydb==4.1.1
toml==0.10.0
